* {
  padding: 0;
  margin: 0;
}
*::after,
::before {
  box-sizing: border-box;
}

li {
  list-style-type: none;
}
.container {
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.first {
  background: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  h1 {
    color: rgb(250, 250, 250);
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    span {
      color: rgb(250, 250, 250);
      font-size: 14px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0%;
      text-decoration-line: underline;
      padding-left: 10px;
    }
  }
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  ul {
    display: flex;
    align-items: center;
    gap: 30px;
    h2 {
      color: rgb(0, 0, 0);
      font-size: 22px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 3%;
    }
    li {
      color: rgb(0, 0, 0);
      font-size: 19px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0%;
      input {
        border-radius: 4px;
        background: rgb(245, 245, 245);
        width: 243px;
        padding: 7px 12px 7px 20px;
        margin: 0px 24px;
        border: 1px solid gray;
        outline: none;
      }
    }
    .search {
      margin-left: -80px;
    }
  }
}

.header {
  border-top: 1px solid gray;
  .cards {
    display: flex;
    border-bottom: 1px solid gray;
    padding-bottom: 30px;
    .left {
      border-right: 1px solid gray;
      padding-right: 50px;
      ul {
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        li {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0%;
        }
      }
    }
    .cards {
      width: 1002px;
      height: 300px;
      background: rgb(0, 0, 0);
      margin-left: 50px;
      margin-top: 30px;
      display: flex;
      align-items: center;
      padding-top: 30px;
      .left {
        border: none;
        padding-left: 100px;
        .logo {
          display: flex;
          align-items: center;
          gap: 10px;
          h3 {
            color: rgb(250, 250, 250);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0%;
          }
        }
        h1 {
          width: 294px;
          color: rgb(250, 250, 250);
          font-size: 48px;
          font-weight: 600;
          line-height: 60px;
          letter-spacing: 4%;
        }
        p {
          color: rgb(250, 250, 250);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
        }
      }
    }
  }
}

.month {
  padding-top: 100px;
  padding-bottom: 100px;
  .title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    h1 {
      color: rgb(0, 0, 0);
      font-size: 36px;
      line-height: 48px;
      letter-spacing: 4%;
    }
    button {
      width: 159px;
      height: 56px;
      padding: 16px 48px 16px 48px;
      order: 1;
      border: none;
      border-radius: 4px;
      background: rgb(219, 68, 68);
    }
  }
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card {
      h2 {
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: left;
      }
      h3 {
        color: rgb(219, 68, 68);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        span {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
          text-decoration-line: line-through;
        }
      }
    }
  }
}

.category {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0);
  height: 400px;
  padding: 50px;
  .left {
    h4 {
      color: rgb(0, 255, 102);
      font-size: 16px;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 0%;
    }
    h1 {
      width: 443px;
      color: rgb(250, 250, 250);
      font-size: 48px;
      font-weight: 600;
      line-height: 60px;
      letter-spacing: 4%;
      padding-top: 10px;
      padding-bottom: 50px;
    }
    .times {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .time {
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        p {
          width: 40px;
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 600;
          line-height: 20px;
          text-align: center;
          margin: 0 auto;
          padding-top: 10px;
          span {
            color: rgb(0, 0, 0);
            font-size: 11px;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: 0%;
          }
        }
      }
    }
    button {
      margin-top: 20px;
      border-radius: 4px;
      width: 171px;
      height: 56px;
      padding: 16px 48px 16px 48px;
      background: rgb(0, 255, 102);
      color: white;
    }
  }
}

.product {
  padding-top: 100px;
  h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 4%;
    padding-bottom: 20px;
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 37px;
    .card {
      padding: 10px;
      width: 260px;
      height: 310px;
      border: 1px solid gray;
      img {
        width: 100%;
        object-fit: cover;
        height: 220px;
      }
      h2 {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0%;
        margin-left: -30px;
      }
      h3 {
        color: rgb(219, 68, 68);
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        span {
          padding-left: 10px;
          color: gray;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
          text-decoration-line: line-through;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 34px;
          height: 34px;
          border: none;
          cursor: pointer;
          font-size: 25px;
          outline: none;
          background-color: transparent;
          border: 1px solid gray;
          text-align: center;
        }
      }
    }
  }
}

.single {
  width: 400px;
  .right {
    h2 {
      /* Heading/24PX SemiBold */
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 3%;
    }
    h3 {
      /* Heading/24PX Regular */
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 3%;
    }
    p {
      width: 373px;
      color: rgb(0, 0, 0);
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
    }
    .color {
      display: flex;
      align-items: center;
      h2 {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 3%;
      }
      .red {
        width: 20px;
        height: 20px;
        order: 1;
        background: rgb(224, 117, 117);
        border-radius: 50%;
        margin-left: 30px;
      }
      .black {
        margin-left: 20px;
        width: 20px;
        height: 20px;
        order: 1;
        background: rgb(0, 0, 0);
        border-radius: 50%;
      }
    }
    .size {
      display: flex;
      align-items: center;
      padding-top: 10px;
      h3 {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 3%;
        padding-right: 20px;
      }
      button {
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px;
        width: 32px;
        height: 32px;
        margin: 0px 16px;
      }
    }
    .cart {
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      button {
        width: 40px;
        height: 44px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px 0px 0px 4px;
        border: 1px solid gray;
        background-color: transparent;
        color: black;
      }
      .add {
        .count {
          box-sizing: border-box;
          border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          border-top: 1px solid rgba(0, 0, 0, 0.5);
          width: 80px;
          border-right: none;
        }
        .re {
          margin-right: -1px;
          border-right: none;
        }
        .add1 {
          background: rgb(219, 68, 68);
        }
      }
      .buy {
        width: 165px;
        border-radius: 4px;
        background: rgb(219, 68, 68);
        color: white;
      }
    }
  }
}

.footer {
  background: rgb(0, 0, 0);
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .card {
      h2 {
        color: rgb(250, 250, 250);
        font-size: 20px;
        font-weight: 500;
        line-height: 28px;
        letter-spacing: 0%;
      }
      p {
        width: 175px;
        color: rgb(250, 250, 250);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0%;
        padding-top: 5px;
      }
    }
  }
}

.single {
  padding-top: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .left {
    display: flex;
    align-items: center;
    .mini__img {
      img {
        width: 130px;
        height: 94px;
        border-bottom: 1px solid gray;
        object-fit: cover;
        display: block;
      }
    }
    img {
      width: 500px;
      height: 400px;
      object-fit: contain;
    }
  }
  .right {
    h2 {
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 3%;
    }
    h3 {
      color: rgb(0, 0, 0);
      font-size: 24px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 3%;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    p {
      color: rgb(0, 0, 0);
      font-family: Poppins;
      font-size: 14px;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0%;
      padding-bottom: 20px;
    }
    .heart {
      font-size: 30px;
    }
  }
}

button {
  cursor: pointer;
}

.b {
  padding-top: 100px;
  h1 {
    color: rgb(0, 0, 0);
    font-size: 36px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 4%;
    padding-bottom: 10px;
  }
  .bill {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      form {
        p {
          opacity: 0.4;
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          padding-top: 10px;
        }
        input {
          border-radius: 4px;
          width: 470px;
          height: 40px;
          order: 1;
          background: rgb(245, 245, 245);
          outline: none;
          padding-left: 5px;
          border: 1px solid gray;
        }
        .check {
          padding-top: 20px;
          input {
            width: 24px;
            height: 24px;
            border-radius: 4px;
            background: rgb(219, 68, 68);
          }
          label {
            padding-left: 10px;
            color: rgb(0, 0, 0);
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
          }
        }
      }
    }
    .right {
      .cost {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          color: rgb(0, 0, 0);
          font-size: 16px;
          font-weight: 400;
          line-height: 24px;
          padding-bottom: 20px;
          padding-top: 20px;
        }
      }
      .code {
        box-sizing: border-box;
        border: 1px solid rgb(0, 0, 0);
        border-radius: 4px;
        width: 300px;
        height: 56px;
        text-align: left;
        padding-left: 20px;
        color: rgb(0, 0, 0);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        opacity: 0.5;
        background-color: transparent;
      }
      .apply {
        width: 211px;
        height: 56px;
        padding: 16px 48px 16px 48px;
        order: 1;
        margin: 0px 16px;
        border-radius: 4px;
        background: rgb(219, 68, 68);
        color: rgb(250, 250, 250);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        border: none;
      }
      .order {
        border-radius: 4px;
        border: none;
        width: 190px;
        height: 56px;
        padding: 16px 48px 16px 48px;
        order: 5;
        margin: 32px 0px;
        background: rgb(219, 68, 68);
        display: block;
        color: rgb(250, 250, 250);
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}

.like {
  padding-top: 100px;
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 37px;
    .card {
      padding: 10px;
      width: 260px;
      height: 310px;
      border: 1px solid gray;
      img {
        width: 100%;
        object-fit: contain;
        height: 220px;
      }
      h2 {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0%;
        margin-left: -30px;
      }
      h3 {
        color: rgb(219, 68, 68);
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        span {
          padding-left: 10px;
          color: gray;
          font-size: 14px;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0%;
          text-decoration-line: line-through;
        }
      }
      .buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 34px;
          height: 34px;
          border: none;
          cursor: pointer;
          font-size: 25px;
          outline: none;
          background-color: transparent;
          border: 1px solid gray;
          text-align: center;
        }
      }
    }
  }
}

.cart {
  .cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 37px;
    .card {
      padding: 10px;
      width: 260px;
      height: 310px;
      border: 1px solid gray;
      padding-bottom: 20px;
      img {
        width: 100%;
        object-fit: contain;
        height: 220px;
      }
      h2 {
        color: rgb(0, 0, 0);
        font-size: 20px;
        font-weight: 500;
        line-height: 24px;
        text-align: center;
        letter-spacing: 0%;
        margin-left: -30px;
      }
      h3 {
        font-size: 18px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        margin-left: -20px;
        color: red;
        padding-top: 5px;
      }
      .btn2 {
        margin-left: 40px;
      }
      button {
        margin-top: 10px;
        width: 54px;
        border: none;
        cursor: pointer;
        font-size: 25px;
        outline: none;
        background-color: transparent;
        border: 1px solid gray;
        text-align: center;
      }
      span {
        border: 1px solid gray;
        padding-top: 1.5px;
        padding-bottom: 1.5px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        color: black;
        font-size: 19px;
      }
    }
  }
}
